<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Minda Aguhob: TDI Capstone, Feb 2018</title>
  <meta name="description" content="Vytality - Minda Aguhob TDI capstone">
  <meta name="author" content="Minda Aguhob">

 <link rel="stylesheet" href="static/main.css?v=1.0">
                  
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

</head>
<body>

    <div class=page></div>
   <!-- <ul>
        <li><a href="page2.html">Ways to Help</a></li>
        <li><a href="page1.html">1</a></li>
        <li><a href="page3.html">3</a></li>
        <li><a href="page4.html">4</a></li>
    </ul> -->

  <div>
    <h2 style="text-align: center;">How are they doing?</h2>
  </div>

  <p style="text-align:center;"><img src="static/pexels-photo-318378.jpeg" style="width:400px; height:300px;" alt="<3"></p>

  <div id="formm">

    <form method="post">
      <p style="text-align:center;">
      <input type="text" style="width:200px;text-align: center;" name="hr" value="Enter HRV (-20 to 130)">
<!--
      <br />
      <input type="text" style="width:200px;text-align: center;" name="zip" value="ZIP">
-->
      <br />
      <input type="submit" value="Submit">
      </p>
     </form>

  </div>


<!--
    <h3 style="text-align:center;">Where <span>to go</span></h3>
    <p style="text-align:center;"><img src="static/yelp.png" style="width:800px;height:300px;" alt="Recommendations output here">
-->

  <br />
  <br />


    <p style="text-align:center;">
    <a href="https://vytality.co">Vytality Health</a>
    <br />Learn the mood of your loved ones with the Vytality app.
    <br />
    </p>
<!--
        <br /><a href="https://www.citylab.com/design/2012/02/why-places-we-live-make-us-happy/1122/">Citylab</a>
    <br />Why certain elements increase the "happiness" of places.
    <br />
-->
        <br />
    <a href="https://vytalityhealth.com" ><img src="static/vytality.png" style="width:100px;" alt="<3"></a>
<br />
  <div id="formm">  
    <p style="text-align:center;">&copy; 2018 by Vytality Health</p>
    </div>
  <br />



</body>

</html>
