<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Minda Aguhob: TDI Capstone, Feb 2018</title>
  <meta name="description" content="Vytality - Minda Aguhob TDI capstone">
  <meta name="author" content="Minda Aguhob">

  <link rel="stylesheet" href="static/main.css?v=1.0">

  
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <div id="header"></div>
    <div id="logo"></div>
    <div id="navigation"></div>

    <br />

    <h1 style="text-align:center;">Results</h1>
    <h3 style="text-align: center; color: teal;">Your loved one seems okay.</h3>
    <p style="text-align: center;">
        <br />This reading should not be used for an actual health diagnosis.
        <br />       
        <br />Vytality estimates a person's emotional state based on heart rate variability. 
        <br />(Apple Watch 3 provides this data.)
        <br /> 
        <br />HRV is a measure of the body's autonomic nervous system. 
        <br />We modeled it utilizing logistic regression to predict depression. 
        <br />
        <br />
        <br />

    The model was based on an NIH sleep heart study of nearly 500 patients.
    <br /><img src="static/Sigmoid.png" class="center">
    </p>    
    
    
<h4 style="text-align: center;">Created by Minda Aguhob, EdM<br>Fellow, The Data Incubator<br>&<br>CEO, Vytality Health</h4>
          
<br />

    <p style="text-align:center;"><a href="https://vytality.co"><img src="static/vytality.png" style="width:100px;"></a>  </p>

<p style="text-align:center;">&copy; 2018 by Vytality Health</p>
    <br /><br />

</body>

</html>

<!--
  <br />
    <h2 style="text-align:center;">Suggestions for action</h2>
    <p style="text-align: center;">"How should I check in?"
        <br />       
        <br />Vytality provides a set of questions and suggested activities, 
        <br />so that it's easier for a friend or family member to help. 
        <br />The questions prompts and activity suggestions will customize over time.
        
    </p>
       <h3 style="text-align:center;">Question  <a href="https://themighty.com/2016/05/questions-to-ask-someone-who-has-depression/">prompts:</a></h3>
    <p style="text-align:center;">
      <br />Would you like to go for a walk?
      <br />Do you want to talk?
      <br />Do you need to offload anything?
    </p>

    <h3 style="text-align:center;">Activity  <a href="https://themighty.com/2016/05/questions-to-ask-someone-who-has-depression/">suggestions:</a>
    </h3>
    <p style="text-align:center;">
      <br />Lorem ipsum dolor sit amet?
      <br />Lorem ipsum dolor sit amet?
      <br />Lorem ipsum dolor sit amet?
    </p>
<div id="article"></div>

    
    
<div id="footer"></div>

<br />    
    <p style="text-align:center">Copyright &copy; 2018 by Minda Aguhob</p>
<br />
    
    
    <script src="js/scripts.js"></script>
</body>
    
</html>